<launch>
    <!-- startup robot description -->
    <!--<include file="$(find description)/launch/display.launch"/>-->

    <!-- startup mobilebase arduino launch -->
    <include file="$(find ros_arduino_python)/launch/arduino.launch" />

   
    <!-- startup rplidar node   -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
 
</launch>
